*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
}


.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 30px;
  inline-size: 1140px;
} 

.result {
  align-self: self-end;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.content__list {
  overflow-y: scroll;
  block-size: 298px;
  position: relative;
}

.content__list::-webkit-scrollbar {
  inline-size: 0;
}

.content__details {
  flex: 1;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
  position: relative;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 711px;
  block-size: 386px;
  
}

.content__list-item:not(:last-child) {
  padding-block-end: var(--m-xl);
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  color: var(--white);
}

.content__video-card-description-container {
  inline-size: 200px
}

.title {
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: var(--white);
  margin-block-end: var(--m-m);
  font-family: Oswald, sans-serif;
}

.content__accent {
  color: var(--gray);
}

.content__card-link {
  text-decoration: none;
  display: block;
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid var(--white);
}

.search-form__label {
  display: flex;
  column-gap: 5px;
  align-items: center;
  cursor: pointer;
}

.search-form__label:not(:last-child) {
  margin-inline-end: var(--m-r);
} 

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid var(--white); 
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox-list {
  display: flex;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  inline-size: 15px;
  block-size: 15px;
  background-color: var(--white);
  justify-content: center;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid var(--white);
  outline-offset: 2px;
}

.search-form__submit-button {
  outline: none;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid var(--white);
  outline-offset: 2px;
}

.search-form__fieldset-title {
  margin-block-end: var(--m-xxs);
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
  font-family: 'Fira Sans Condensed', sans-serif;
}

.search-form__textfield {
  background: none;
  border: none;
  font-weight: inherit;
  font-size: 18px;
  color: var(--white);
  inline-size: auto;
  border-top: 1px solid var(--white);
  border-bottom: 1px solid;
  font-family: 'Fira Sans Condensed', sans-serif;
  inline-size: 225px;
  outline: none;
  appearance: none;
}

.button.search-form__submit-button {
  background: transparent;
  font-weight: 700;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  text-align: center;
  color: var(--white);
  inline-size: 194px;
  block-size: 34px;
  border: 1px solid var(--white);
  cursor: pointer;

}

.more-button {
  background: transparent;
  font-family: 'Fira Sans Condensed';
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--white);
  inline-size: 399px;
  block-size: 34px;
  border: 1px solid var(--white);
  cursor: pointer;
}

.more-button:focus-visible {
  outline: 1px solid var(--white);
  outline-offset: -4px;
}

.button.search-form__submit-button:active {
  background-color: var(--gray);
}

.content__card-link:active {
  background-color: var(--gray);
}

.search-form__textfield:active {
  border: 1px solid var(--white);
}

.search-form__label:hover {
  text-decoration: none;
  text-underline-offset: 3px;
}

.button:hover {
  text-decoration: underline;
}

.content__card-link {
  /* text-decoration: underline; */
  text-underline-offset: 5px;
}

.content__card-link_current {
  background-color: var(--gray);
}

.content__video-card-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  margin-block-end: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
  color: #fff;
}

.content__video-card:hover {
  text-decoration: underline;
}

/*  --m-t: 133px;
    --m-l: 30px;
    --m-s: 16px;
    --m-m: 26px; 
    --m-xxs: 5px;
    --m-r: 15px;
    --m-xl: 32px;
    --white: #fff;
    --black: #1b1919;
    --gray: #545050; */